<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mycourses"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'UPLOADASSIGNMENT' | uppercase | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="upload-assignment">
  <form id="uploadAssignment-form" [formGroup]="validations_form" (ngSubmit)="uploadAssignment()">
    <ion-list id="assignment-info">
      <ion-item id="assignment-type">
        <ion-label>
          {{ 'ASSIGNMENTS' | translate }}
        </ion-label>
      </ion-item>
      <ion-item id="assignment-typeInput">
        <ion-select [(ngModel)]="assignment" [ngModelOptions]="{standalone: true}" slot="end"
          [interfaceOptions]="customPopoverOptions" interface="popover"
          placeholder="{{ 'SELECTASSIGNMENT' | translate }}" id='assignment' (ionChange)="onSelectChange($event)" #role
          aria-required="required">
          <ion-select-option *ngFor="let assignment of coursesemesterdata" value="{{ assignment.type}}">
            {{ assignment.type}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item id="uploadAssignment-link">
        <ion-label>
          {{ 'SOLUTIONLINK' | translate}}
        </ion-label>
      </ion-item>
      <ion-item id="uploadAssignment-linkInput">
        <ion-input type="text" formControlName="link" placeholder="Paste Solution Link Here!"
          id="assignmentsolutionPathinput" #taskPath required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.link">
          <div class="error-message"
            *ngIf="validations_form.get('link').hasError(validation.type) && (validations_form.get('link').dirty || validations_form.get('link').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <br>
      <ion-button id="uploadAssignment-uploadAssignmentBtn" type="submit" expand="block"
        [disabled]="!validations_form.valid||assignment==null" class="ionBtn ionBtn-success" value="uploadAssignment">
        <ion-icon name="add" slot="start"></ion-icon>
        {{ 'UPLOADASSIGNMENT' | translate }}
      </ion-button>
    </ion-list>
  </form>
</ion-content>